[Unit]
Description=Django web server
After=network-online.target

[Service]
User=django
Restart=on-failure
WorkingDirectory=/opt/django/
ExecStart=/opt/django/bin/python /opt/django/addressbook/manage.py runserver 0.0.0.0:8000

[Install]
WantedBy=webserver.target
