[Unit]
Description=Django service in docker
After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/opt/django/addressbook
ExecStart=/usr/local/bin/docker-compose -f /opt/django/addressbook/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /opt/django/addressbook/docker-compose.yml down
Restart=always

[Install]
WantedBy=multi-user.target webserver.target
